<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
      <div id="user-data">
        <div class="form-group">
          <label for="username">Ask Stack Anything</label>
          <input
            type="text"
            id="question"
            class="form-control"
            ngModel
            name="question"
            required
            #question="ngModel"
          />
          <p class="help-block" *ngIf="!question.valid && question.touched">
            Value is invalid
          </p>
        </div>
      </div>

      <button class="btn btn-primary" [disabled]="!form.valid" type="submit">
        Submit
      </button>
    </form>
    <hr />
    <div class="row">
      <div class="col-xs-12"></div>
    </div>
  </div>
  <div class="col-md-9">
    <app-question-list></app-question-list>
  </div>
  <div class="col-md-3 answer-main">
    <router-outlet></router-outlet>
  </div>
</div>
