<div class="answer-main" *ngIf="question">
  <div class="row">
    <div class="col-xs-12">
      <img
        [src]="question.owner.profile_image"
        alt="{{ question.title }}"
        class="img-responsive"
        style="max-height: 300px;"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ question.owner.display_name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group" appDropdown></div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h4>Well see</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <ul class="list-group">
          <h4>Question</h4>
        </ul>
      </div>
    </div>
  </div>
</div>
