<div class="answer-main" *ngIf="question">
  <div class="row">
    <div class="col-xs-12">
      <img
        [src]="question.owner.profile_image"
        alt="{{ question.title }}"
        class="img-responsive"
        style="max-height: 300px;"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ question.owner.display_name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group" appDropdown></div>
    </div>

    <div class="col-xs-12">
      <div class="list-group">
        <div class="list-group-item">
          <h4 class="list-group-item-heading">Question</h4>
          <p class="list-group-item-text">{{ question.title | shorten: 75 }}</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="list-group">
        <div class="list-group-item">
          <h4 class="list-group-item-heading">Answer</h4>
          <p class="list-group-item-text">{{ question.title | shorten: 75 }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
