<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
      <div id="user-data">
        <div class="form-group">
          <label for="username">Question</label>
          <input
            type="text"
            id="question"
            class="form-control"
            ngModel
            name="question"
            required
            #question="ngModel"
          />
          <p class="help-block" *ngIf="!question.valid && question.touched">
            Value is invalid
          </p>
        </div>
      </div>
      <div class="form-group">
        <label for="secret">Secret Questions</label>
        <select id="secret" class="form-control" ngModel name="secret">
          <option value="pet">Your first Pet?</option>
          <option value="teacher">Your first teacher?</option>
        </select>
      </div>
      <button class="btn btn-primary" [disabled]="!form.valid" type="submit">
        Submit
      </button>
    </form>
    <hr />
    <div class="row">
      <div class="col-xs-12"></div>
    </div>
  </div>
  <div class="col-md-9">
    <app-recipe-list></app-recipe-list>
  </div>
  <div class="col-md-3 answer-main">
    <router-outlet></router-outlet>
  </div>
</div>
