<a [routerLink]="[index]" routerLinkActive="active" class="list-group-item cursor clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ question.owner.display_name }}</h4>
    <p class="list-group-item-text">{{ question.title | shorten: 75}}</p>
    <p class="list-group-item-text">Views: {{ question.view_count }} | Score: {{question.score}}</p>

    <ul class="nav nav-pills" role="tablist">
      <li role="presentation" class="bg-info " *ngFor="let tags of question.tags; let i = index">
        <a href="#">{{tags}} </a>
      </li>
    </ul>

  </div>
  <div class="pull-right">
    <img [src]="question.owner.profile_image" alt="{{ question.title | shorten:5 }}" class="img-responsive" style="max-height: 50px;" />

  </div>
</a>
